<html>
<title>Portfolio.Articulos.ComparacionDeHerramientas</title>
<meta charset="UTF-8">
<meta lang="es">
<meta name="viewport" content="width=device-width, initial-scale=1">
<body class="w3-black">
<div class="w3-padding-64 w3-content w3-text-grey" id="ComparacionDeHerramientas">
    <h1 class="w3-text-light-grey">Comparación de Herramientas de Machine Learning</h1>
    <p>
        Este articulo tiene una lista de operadores más usados en Machine Learning para distintas herramientas. Cada operador 
        tiene un link hacia su documentación correspondiente si está disponible en la herramienta
    </p>
    
    <h2>RapidMiner</h2> 
    <ul>
        <li>
            Aprendizaje supervisado: Regresión
            <ul>
                <li>Arboles de decision:
                    <a href="https://docs.rapidminer.com/latest/studio/operators/modeling/predictive/trees/parallel_decision_tree.html">
                        Decision Tree - RapidMiner Documentation
                    </a>
                </li>
                <li>Regresión Lineal:
                    <a href="https://docs.rapidminer.com/latest/studio/operators/modeling/predictive/trees/parallel_random_forest.html">
                        Linear Regression - RapidMiner Documentation
                    </a>
                </li>
                <li>Bosque Aleatorio:
                    <a href="https://docs.rapidminer.com/latest/studio/operators/modeling/predictive/trees/parallel_random_forest.html">
                        Ramdom Forest - RapidMiner Documentation
                    </a>
                </li>
                <li>Red Neuronal:
                    <a href="https://docs.rapidminer.com/latest/studio/operators/modeling/predictive/neural_nets/neural_net.html">
                        Neuronal Net - RapidMiner Documentation
                    </a>
                </li>
                <li>Gradient Boosted Tries:
                    <a href="https://docs.rapidminer.com/latest/studio/operators/modeling/predictive/trees/gradient_boosted_trees.html">
                        Neuronal Net - RapidMiner Documentation
                    </a>
                </li>
            </ul>
        </li>
        <li>
            Aprendizaje no supervisado: Reducción de dimensiones
            <ul>
                <li>Análisis de componente principal:
                    <a href="https://docs.rapidminer.com/latest/studio/operators/cleansing/dimensionality_reduction/principal_component_analysis.html">
                        Principal Component Analysis - RapidMiner Documentation
                    </a>
                </li>
                <li>Descomposición en valores singulares:
                    <a href="https://docs.rapidminer.com/latest/studio/operators/cleansing/dimensionality_reduction/singular_value_decomposition.html">
                        Singular Value Decomposition - RapidMiner Documentation
                    </a>
                </li>
                <li>Análisis de Dirichlet: No lo tiene </li>
            </ul>
        </li>
        <li>
            Aprendizaje no supervisado: Clustering
            <ul>
                <li>DBSCAN:
                    <a href="https://docs.rapidminer.com/latest/studio/operators/modeling/segmentation/dbscan.html">
                        DBSCAN - RapidMiner Documentation
                    </a>
                </li>
                <li>Hierarchical:
                    <a href="https://docs.rapidminer.com/latest/studio/operators/modeling/segmentation/agglomerative_clustering.html">
                        Agglomerative Clustering - RapidMiner Documentation
                    </a>
                </li>
                <li>K-Medoids:
                    <a href="https://docs.rapidminer.com/latest/studio/operators/modeling/segmentation/k_medoids.html">
                        k-Medoids - RapidMiner Documentation
                    </a>
                </li>
                <li>K-Means:
                    <a href="https://docs.rapidminer.com/latest/studio/operators/modeling/segmentation/k_means.html">
                        K-Means - RapidMiner Documentation
                    </a>
                </li>
                <li>Gaussian Mixture Model:
                    <a href="https://docs.rapidminer.com/latest/studio/operators/modeling/predictive/functions/gaussian_process.html">
                        Gaussian Mixture Model - RapidMiner Documentation
                    </a>
                </li>
            </ul>
        </li>
        <li>
            Aprendizaje supervisado: Clasificación
            <ul>
                <li>Kernel SVM:
                    <a href="https://docs.rapidminer.com/latest/studio/operators/modeling/predictive/support_vector_machines/support_vector_machine.html">
                        Kernel SVM - RapidMiner Documentation
                    </a>
                </li>
                <li>Random Forest:
                    <a href="https://docs.rapidminer.com/latest/studio/operators/modeling/predictive/trees/parallel_random_forest.html">
                        Random Forest - RapidMiner Documentation
                    </a>
                </li>
                <li>Red Neuronal:
                    <a href="https://docs.rapidminer.com/latest/studio/operators/modeling/predictive/neural_nets/neural_net.html">
                        Red Neuronal - RapidMiner Documentation
                    </a>
                </li>
                <li>Gradient Boosted Tries:
                    <a href="https://docs.rapidminer.com/latest/studio/operators/modeling/predictive/trees/gradient_boosted_trees.html">
                        Gradient Boosted Tries - RapidMiner Documentation
                    </a>
                </li>
                <li>Árboles de Decisión:
                    <a href="https://docs.rapidminer.com/latest/studio/operators/modeling/predictive/trees/parallel_decision_tree.html">
                        Árboles de Decisión - RapidMiner Documentation
                    </a>
                </li>
                <li>Regresión Logística:
                    <a href="https://docs.rapidminer.com/latest/studio/operators/modeling/predictive/logistic_regression/logistic_regression.html">
                        Regresión Logística - RapidMiner Documentation
                    </a>
                </li>
                <li>Naive Bayes:
                    <a href="https://docs.rapidminer.com/latest/studio/operators/modeling/predictive/bayesian/naive_bayes.html">
                        Naive Bayes - RapidMiner Documentation
                    </a>
                </li>
                <li>Linear SVM:
                    <a href="https://docs.rapidminer.com/latest/studio/operators/modeling/feature_weights/weight_by_svm.html">
                        Linear SVM - RapidMiner Documentation
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    
    <h2>Alteryx</h2> 
    <ul>
        <li>
            Aprendizaje supervisado: Regresión
            <ul>
                <li>Arboles de decision:
                    <a href="https://help.alteryx.com/20213/designer/regression-tool">
                        Regression Tool - Alteryx Help
                    </a>
                </li>
                <li>Regresión Lineal:
                    <a href="https://help.alteryx.com/20213/designer/regression-tool">
                        Regression Tool - Alteryx Help
                    </a>
                </li>
                <li>Bosque Aleatorio:
                    <a href="https://help.alteryx.com/20213/designer/regression-tool">
                        Regression Tool - Alteryx Help
                    </a>
                </li>
                <li>Red Neuronal:
                    <a href="https://help.alteryx.com/20213/designer/neural-network-tool">
                        Neuronal Network Tool - Alteryx Help
                    </a>
                </li>
                <li>Gradient Boosted Tries:
                    <a href="https://help.alteryx.com/20213/designer/boosted-model-tool">
                        Gradiet Model Tool - Alteryx Help
                    </a>
                </li>
            </ul>
        </li>
        <li>
            Aprendizaje no supervisado: Reducción de dimensiones
            <ul>
                <li>Análisis de componente principal:
                    <a href="https://help.alteryx.com/20213/designer/principal-components-tool">
                        Principal Component Tool - Alteryx Help
                    </a>
                </li>
                <li>Descomposición en valores singulares: No lo tiene
                </li>
                <li>Análisis de Dirichlet: No lo tiene </li>
            </ul>
        </li>
        <li>
            Aprendizaje no supervisado: Clustering
            <ul>
                <li>DBSCAN: No lo tiene </li>
                <li>Hierarchical: No lo tiene </li>
                <li>K-Medoids: No lo tiene</li>
                <li>K-Means:
                    <a href="https://help.alteryx.com/20213/designer/k-centroids-cluster-analysis-tool">
                        K-Centroids Cluster Analysis Tool - Alteryx Help
                    </a>
                </li>
                <li>Gaussian Mixture Model: No lo tiene</li>
            </ul>
        </li>
        <li>
            Aprendizaje supervisado: Clasificación
            <ul>
                <li>Kernel SVM:
                    <a href="https://help.alteryx.com/20213/designer/support-vector-machine-tool">
                        Support Vector Machine Tool | Alteryx Help
                    </a>
                </li>
                <li>Random Forest:
                    <a href="https://help.alteryx.com/20213/designer/neural-network-tool">
                        Neuronal Network Tool | Alteryx Help
                    </a>
                </li>
                <li>Red Neuronal:
                    <a href="https://help.alteryx.com/20213/designer/neural-network-tool">
                        Neuronal Network Tool | Alteryx Help
                    </a>
                </li>
                <li>Gradient Boosted Tries:
                    <a href="https://help.alteryx.com/20213/designer/boosted-model-tool">
                        Boosted Model Tool | Alteryx Help
                    </a>
                </li>
                <li>Árboles de Decisión:
                    <a href="https://help.alteryx.com/20213/designer/logistic-regression-tool">
                        Decision Tree Tool | Alteryx Help
                    </a>
                </li>
                <li>Regresión Logística:
                    <a href="https://help.alteryx.com/20213/designer/naive-bayes-classifier-tool">
                        Naive Bayes Classifier Tool | Alteryx Help
                    </a>
                </li>
                <li>Naive Bayes:
                    <a href="https://help.alteryx.com/20213/designer/naive-bayes-classifier-tool">
                        Naive Bayes Classifier Tool | Alteryx Help
                    </a>
                </li>
                <li>Linear SVM:
                    <a href="https://help.alteryx.com/20213/designer/support-vector-machine-tool">
                        Support Vector Machine Tool | Alteryx Help
                    </a>
                </li>
            </ul>
        </li>
    </ul>

    <h2>IBM Watson Studio</h2> 
    <ul>
        <li>
            Aprendizaje supervisado: Regresión
            <ul>
                <li>Arboles de decision:
                    <a href="https://developer.ibm.com/recipes/tutorials/machine-learning-and-ibm-watson-studio/">
                        IBM Watson Studio Documentation
                    </a>
                </li>
                <li>Regresión Lineal:
                    <a href="https://developer.ibm.com/recipes/tutorials/machine-learning-and-ibm-watson-studio/">
                        IBM Watson Studio Documentation
                    </a>
                </li>
                <li>Bosque Aleatorio:
                    <a href="https://developer.ibm.com/recipes/tutorials/machine-learning-and-ibm-watson-studio/">
                        IBM Watson Studio Documentation
                    </a>
                </li>
                <li>Red Neuronal:
                    <a href="https://developer.ibm.com/recipes/tutorials/machine-learning-and-ibm-watson-studio/">
                        IBM Watson Studio Documentation
                    </a>
                </li>
                <li>Gradient Boosted Tries:
                    <a href="https://developer.ibm.com/recipes/tutorials/machine-learning-and-ibm-watson-studio/">
                        IBM Watson Studio Documentation
                    </a>
                </li>
            </ul>
        </li>
        <li>
            Aprendizaje no supervisado: Reducción de dimensiones
            <ul>
                <li>Análisis de componente principal:
                    <a href="https://developer.ibm.com/recipes/tutorials/machine-learning-and-ibm-watson-studio/">
                        IBM Watson Studio Documentation
                    </a>
                </li>
                <li>Descomposición en valores singulares:
                    <a href="https://developer.ibm.com/recipes/tutorials/machine-learning-and-ibm-watson-studio/">
                        IBM Watson Studio Documentation
                    </a>
                </li>
                <li>Análisis de Dirichlet: 
                    <a href="https://developer.ibm.com/recipes/tutorials/machine-learning-and-ibm-watson-studio/">
                        IBM Watson Studio Documentation
                    </a>
                </li>
            </ul>
        </li>
        <li>
            Aprendizaje no supervisado: Clustering
            <ul>
                <li>DBSCAN: 
                    <a href="https://developer.ibm.com/recipes/tutorials/machine-learning-and-ibm-watson-studio/">
                        IBM Watson Studio Documentation
                    </a>
                </li>
                <li>Hierarchical:
                    <a href="https://developer.ibm.com/recipes/tutorials/machine-learning-and-ibm-watson-studio/">
                        IBM Watson Studio Documentation
                    </a>
                </li>
                <li>K-Medoids: No lo tiene</li>
                <li>K-Means:
                    <a href="https://developer.ibm.com/recipes/tutorials/machine-learning-and-ibm-watson-studio/">
                        IBM Watson Studio Documentation
                    </a>
                </li>
                <li>Gaussian Mixture Model: No lo tiene</li>
            </ul>
        </li>
        <li>
            Aprendizaje supervisado: Clasificación
            <ul>
                <li>Kernel SVM:
                    <a href="https://developer.ibm.com/recipes/tutorials/machine-learning-and-ibm-watson-studio/">
                        IBM Watson Studio Documentation
                    </a>
                </li>
                <li>Random Forest:
                    <a href="https://developer.ibm.com/recipes/tutorials/machine-learning-and-ibm-watson-studio/">
                        IBM Watson Studio Documentation
                    </a>
                </li>
                <li>Red Neuronal:
                    <a href="https://developer.ibm.com/recipes/tutorials/machine-learning-and-ibm-watson-studio/">
                        IBM Watson Studio Documentation
                    </a>
                </li>
                <li>Gradient Boosted Tries:
                    <a href="https://developer.ibm.com/recipes/tutorials/machine-learning-and-ibm-watson-studio/">
                        IBM Watson Studio Documentation
                    </a>
                </li>
                <li>Árboles de Decisión:
                    <a href="https://developer.ibm.com/recipes/tutorials/machine-learning-and-ibm-watson-studio/">
                        IBM Watson Studio Documentation
                    </a>
                </li>
                <li>Regresión Logística:
                    <a href="https://developer.ibm.com/recipes/tutorials/machine-learning-and-ibm-watson-studio/">
                        IBM Watson Studio Documentation
                    </a>
                </li>
                <li>Naive Bayes:
                    <a href="https://developer.ibm.com/recipes/tutorials/machine-learning-and-ibm-watson-studio/">
                        IBM Watson Studio Documentation
                    </a>
                </li>
                <li>Linear SVM:
                    <a href="https://developer.ibm.com/recipes/tutorials/machine-learning-and-ibm-watson-studio/">
                        IBM Watson Studio Documentation
                    </a>
                </li>
            </ul>
        </li>
    </ul>

    <h2>SAS</h2> 
    <ul>
        <li>
            Aprendizaje supervisado: Regresión
            <ul>
                <li>Arboles de decision:
                    <a href="https://documentation.sas.com/doc/es/pgmsascdc/9.4_3.5/casanpg/n1i5564pl87xvsn1pjjbhxt5h98n.htm">
                        Sas Viya Documentation
                    </a>
                </li>
                <li>Regresión Lineal:
                    <a href="https://documentation.sas.com/doc/en/statug/15.2/statug_introcalis_sect006.htm">
                        Sas Viya Documentation
                    </a>
                </li>
                <li>Bosque Aleatorio:
                    <a href="https://documentation.sas.com/doc/en/fcmrug/15.2/n1tzufyosz12bhn12ls3imd63q94.htm">
                        Sas Viya Documentation
                    </a>
                </li>
                <li>Red Neuronal:
                    <a href="https://documentation.sas.com/doc/es/pgmsascdc/9.4_3.5/casactml/casactml_neuralnet_toc.htm">
                        Sas Viya Documentation
                    </a>
                </li>
                <li>Gradient Boosted Tries: No lo tiene </li>
            </ul>
        </li>
        <li>
            Aprendizaje no supervisado: Reducción de dimensiones
            <ul>
                <li>Análisis de componente principal:
                    <a href="https://documentation.sas.com/doc/en/statug/15.2/statug_factor_examples01.htm">
                        Sas Viya documentation
                    </a>
                </li>
                <li>Descomposición en valores singulares:
                    <a href="https://documentation.sas.com/doc/en/etsug/15.2/etsug_timeseries_details21.htm">
                        IBM Watson Studio Documentation
                    </a>
                </li>
                <li>Análisis de Dirichlet: 
                    <a href="https://documentation.sas.com/doc/en/pgmsascdc/9.4_3.4/imlug/imlug_langref_sect354.htm">
                        IBM Watson Studio Documentation
                    </a>
                </li>
            </ul>
        </li>
        <li>
            Aprendizaje no supervisado: Clustering
            <ul>
                <li>DBSCAN: 
                    <a href="https://documentation.sas.com/doc/en/inmsref/2.81/p08w4hxeqsgklrn14aqs76gs01te.htm">
                        Sas Viya Documentation
                    </a>
                </li>
                <li>Hierarchical:
                    <a href="https://documentation.sas.com/doc/en/statug/15.2/statug_nlmixed_details14.htm">
                        Sas Viya Documentation
                    </a>
                </li>
                <li>K-Medoids: No lo tiene</li>
                <li>K-Means:
                    <a href="https://documentation.sas.com/doc/en/webeditorcdc/v_003/webeditorref/n07akjwhefk0lcn0z9wgtd3raedy.htm">
                        Sas Viya Documentation
                    </a>
                </li>
                <li>Gaussian Mixture Model: No lo tiene</li>
            </ul>
        </li>
        <li>
            Aprendizaje supervisado: Clasificación
            <ul>
                <li>Kernel SVM:
                    <a href="https://documentation.sas.com/doc/en/emref/15.2/n18ip3imet0wokn1f39nqoxy9138.htm">
                        Sas Viya Documentation
                    </a>
                </li>
                <li>Random Forest:
                    <a href="https://documentation.sas.com/doc/es/pgmsascdc/9.4_3.5/casactml/casactml_neuralnet_toc.htm">
                        Sas Viya Documentation
                    </a>
                </li>
                <li>Red Neuronal:
                    <a href="https://documentation.sas.com/doc/es/pgmsascdc/9.4_3.5/casactml/casactml_neuralnet_toc.htm">
                        Sas Viya Documentation
                    </a>
                </li>
                <li>Gradient Boosted Tries: No lo tiene </li>
                <li>Árboles de Decisión:
                    <a href="https://documentation.sas.com/doc/es/pgmsascdc/9.4_3.5/casanpg/n1i5564pl87xvsn1pjjbhxt5h98n.htm">
                        Sas Viya Documentation
                    </a>
                </li>
                <li>Regresión Logística:
                    <a href="https://documentation.sas.com/doc/en/statug/15.2/statug_genmod_examples01.htm">
                        Sas Viya Documentation
                    </a>
                </li>
                <li>Naive Bayes:
                    <a href="https://documentation.sas.com/doc/en/pgmsascdc/9.4_3.3/casml/casml_bnet_examples01.htm">
                        Sas Viya Documentation
                    </a>
                </li>
                <li>Linear SVM:
                    <a href="https://documentation.sas.com/doc/en/emref/14.3/n18ip3imet0wokn1f39nqoxy9138.htm">
                        Sas Viya Documentation
                    </a>
                </li>
            </ul>
        </li>
    </ul>

    <h2>Weka</h2>
    <p>
        Para esta seccion se hace referencia a los capitulos del libro:  
        <a href="https://www.cs.waikato.ac.nz/ml/weka/Witten_et_al_2016_appendix.pdf">
            The Weka Workbench Data Mining: Practical Machine 
            Learning Tools and Techniques
        </a>
    </p> 
    <ul>
        <li>
            Aprendizaje supervisado: Regresión
            <ul>
                <li>Arboles de decision: Capítulo 2.1.3
                </li>
                <li>Regresión Lineal: Capítulo 2.4.4
                </li>
                <li>Bosque Aleatorio: Capítulo 2.4.2
                </li>
                <li>Red Neuronal: Capítulo 2.4.5
                </li>
                <li>Gradient Boosted Tries: No lo tiene </li>
            </ul>
        </li>
        <li>
            Aprendizaje no supervisado: Reducción de dimensiones
            <ul>
                <li>Análisis de componente principal: Capítulo 2.3.1.3
                </li>
                <li>Descomposición en valores singulares: No lo tiene
                </li>
                <li>Análisis de Dirichlet: No lo tiene
                </li>
            </ul>
        </li>
        <li>
            Aprendizaje no supervisado: Clustering
            <ul>
                <li>DBSCAN: No lo tiene </li>
                <li>Hierarchical:  Capítulo 2.5 </li>
                <li>K-Medoids: No lo tiene </li>
                <li>K-Means: Capítulo 2.5 </li>
                <li>Gaussian Mixture Model: No lo tiene</li>
            </ul>
        </li>
        <li>
            Aprendizaje supervisado: Clasificación
            <ul>
                <li>Kernel SVM: Capítulo 3.2 </li>
                <li>Random Forest: Capítulo 2.4.2 </li>
                <li>Red Neuronal: Capítulo 2.4.5
                </li>
                <li>Gradient Boosted Tries: No figura</li>
                <li>Árboles de Decisión: Capítulo 2.1.3 </li>
                <li>Regresión Logística:  Capítulo 2.4.4 </li>
                <li>Naive Bayes:  Capítulo 2.4.1 </li>
                <li>Linear SVM: Capítulo 3.2 </li>
            </ul>
        </li>
    </ul>
    
</div>
</body>
</html>



