<html>
<title>Portfolio.Articulos.QueEsMachineLearning</title>
<meta charset="UTF-8">
<meta lang="es">
<meta name="viewport" content="width=device-width, initial-scale=1">
<body class="w3-black">
<div class="w3-padding-64 w3-content w3-text-grey" id="QueEsMachineLearning">
    <h1 class="w3-text-light-grey">¿Qué es Machine Learning?</h1>
    <h2>Definicion 1</h2> 
    <p>
        Machine learning is the study of computer algorithms that improve automatically 
        through experience and by the use of data. It is seen as a part of artificial intelligence. 
    </p> <a href="https://en.wikipedia.org/wiki/Machine_learning"> Fuente</a>
    <h2>Definicion 2</h2> 
    <p>
        El machine learning –aprendizaje automático– es una rama de la inteligencia artificial
        que permite que las máquinas aprendan sin ser expresamente programadas para ello. 
        Una habilidad indispensable para hacer sistemas capaces de identificar patrones entre 
        los datos para hacer predicciones.
    </p> 
    <a href="https://www.bbva.com/es/machine-learning-que-es-y-como-funciona/"> Fuente </a>

    <h2>Definicion 3</h2>
    <p>
        Machine learning is a branch of artificial intelligence (AI) and computer science which 
        focuses on the use of data and algorithms to imitate the way that humans learn, 
        gradually improving its accuracy.
    </p>
    <a href="https://www.ibm.com/cloud/learn/machine-learning">Fuente</a>

    <h2>Inteligencia Artifical</h2>
    <p>
        Artificial intelligence is intelligence demonstrated by machines, as opposed to the 
        natural intelligence displayed by humans or animals.
    </p>
    <a href="https://en.wikipedia.org/wiki/Artificial_intelligence"> Fuente</a>

    <h2>Análisis Estadístico</h2>
    <p> Statistical analysis means investigating trends, patterns, and relationships using 
        quantitative data. It is an important research tool used by scientists, governments, 
        businesses, and other organizations. ... Then, you can use inferential statistics to 
        formally test hypotheses and make estimates about the population. 
    </p>
    <a href="https://www.scribbr.com/category/statistics/"> Fuente</a>
    <h2>Data mining</h2>
    <p>
        Data mining, also known as knowledge discovery in data (KDD), is the process of 
        uncovering patterns and other valuable information from large data sets. ... Data mining 
        has improved organizational decision-making through insightful data analyses.
    </p>
    <a href="https://www.ibm.com/cloud/learn/data-mining"> Fuente </a>

    <h2>¿Qué tiene en común y en qué se diferencia con Inteligencia Artificial?</h2>
    <p>
        El objetivo de la inteligencia artificial es que un sistema informático imite la inteligencia 
        humana. Machine Learning se basa en hacer que un sistema aprenda en base a datos 
        que permitan brindar un resultado preciso en tareas más concretas. Por ende, 
        Machine Learning es una rama de la inteligencia artificial; existen otras formas de 
        inteligencia artificial como la clásica, imitar el aprendizaje no es exactamente imitar 
        toda la inteligencia humana.
    </p>

    <h2>¿Qué tiene en común y en qué se diferencia con Análisis Estadístico?</h2>
    <p>
        Ambos conceptos tienen un objetivo en común que es aprender de los datos. Los algoritmos 
        de machine learning predicen datos y son capaces de aprender de billones de otros datos. Se 
        usa mejor cuando existe una gran cantidad de datos con una gran cantidad de atributos y 
        observaciones. El modelado estadístico usa menos datos con menos atributos y por ende 
        existe una posibilidad de que se produzca un ajuste excesivo.
        Los modelos estadísticos requieren un conjunto de suposiciones sobre la generación de datos 
        observados y datos similares de poblaciones más grandes. Machine Learning no requiere 
        suposiciones previas sobre las relaciones subyacentes entre las variables, solo debe ingresar 
        todos los datos que tenga, y el algoritmo procesa los datos y descubre patrones, con estos 
        patrones luego va a hacer predicciones sobre el nuevo conjunto de datos. 
    </p>

    <h2>
        ¿Qué tienen en común y en qué se diferencia con Data Mining?
    </h2>
    <p>
        El objetivo de data mining es brindar conocimientos en un área donde realmente había poco 
        conocimiento de antemano, o ser capaz de predecir observaciones. La diferencia entre los dos 
        reside en que en machine learning el esfuerzo humano solo está presente cuando se define el 
        algoritmo, además los procedimientos pueden en Data Mining ser no supervisados (no se 
        conoce la respuesta-descubrimiento) o supervisados (se conoce la respuesta). 
        Ambos utilizan los mismos algoritmos clave para descubrir patrones en los datos. Sin embargo, 
        su proceso y utilidad son diferentes.
    </p>
    
</div>
</body>
</html>



