<html>
<title>Portfolio.Articulos.QueEsMachineLearning</title>
<meta charset="UTF-8">
<meta lang="es">
<meta name="viewport" content="width=device-width, initial-scale=1">
<body class="w3-black">
    <div class="w3-padding-64 w3-content w3-text-grey" id="QueEsMachineLearning">
        <h1 class="w3-text-light-grey">¿Qué es CRISP-DM?</h1>
        <p>
            Son las siglas de cross industry standard process for data mining, es un método para orientar 
            trabajos de minería de datos.  
        <p>
            La metodología contiene seis fases relacionadas sobre las cuales se pueden hacer ciertas 
            iteraciones según los requerimientos del proyecto. Los pasos son comprensión empresarial, 
            comprensión de datos, preparación de datos, modelado, evaluación y despliegue.
        </p>
        <h2>Compresión Empresarial</h2> 
        <p>
            La comprensión empresarial tiene como objetivo contextualizar las metas y datos para brindar 
            este conocimiento a los desarrolladores y así poder reconocer la relevancia de los datos en el 
            negocio y poder hacer análisis acertados. Para ello se deberán llevar a cabo lecturas de 
            documentación, reuniones, aprendizaje de campo entre otras actividades
        </p>
        <h2>Compresión de datos</h2> 
        <p>
            La compresión de datos es el segundo paso, se basa en establecer un objetivo sobre que se 
            puede lograr a partir de los datos disponibles. Se debe verificar la calidad, integridad y 
            distribución de los datos y sus valores. En esta parte del proceso se especifica su viabilidad y la 
            confiabilidad de los resultados finales.
        </p>
        <h2>Preparación de Datos</h2>
        <p> Se basa en preparar los datos mediante procesos que preparan los datos para 
            que sean utilizables por los algoritmos a usar. 
        </p>
        <h2>Modelado</h2>
        <p>
            Es el núcleo de los proyectos de aprendizaje automático. En este paso está en juego si los resultados podrán satisfacer o no los requerimientos.
        </p>
        <h2>Evaluación</h2>
        <p>
            Aquí se verificará la validez y correctitud de los 
            resultados. Si los resultados carecen de calidad la metodología permite volver al primer paso 
            del proceso y reflexionar acerca de porque los resultados son erróneos. 
        </p>

        <h2>Despliegue</h2>
        <p>
            Consiste en presentar los resultados de una forma óptima, comprensible y útil para su consumidor final. 
        </p>
    </div>
</body>
</html>