<!DOCTYPE html>
<html>
<title>Portfolio.PaginaPrincipal</title>
<meta charset="UTF-8">
<meta lang="es">
<meta name="viewport" content="width=device-width, initial-scale=1">

<body class="w3-black">
  <div class="w3-padding-large" id="main">
    <header class="w3-container w3-padding-32 w3-center w3-black" id="home">
      <h1 class="w3-jumbo"><span class="w3-hide-small">Portfolio</span> de Machine Learning</h1>
    </header>

    <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about">
      <h2 class="w3-text-light-grey">Felipe Mestre </h2>
      <hr style="width:200px" class="w3-opacity">
      <p> Soy uruguayo oriundo de la ciudad de Melo, tengo 22 años y vivo en Montevideo.
        Estudio Ingeniería en informática en la Universidad Católica del Uruguay, ingresé en 2018 y actualmente curso cuarto año. 
        Desde junio trabajo como desarrollador full-stack web en Inzol Consulting utilizando Angular, ASP.net y SQL Server.
        Este portfolio contiene trabajos de machine learning desarrollados en un curso semestral homónimo.
      </p>
      <h3 class="w3-padding-16 w3-text-light-grey">¿Qué es Machine Learning?</h3>
      <p>Es una rama de la inteligencia articial que se enfoca en el uso de datos y algoritmos 
          Para imitar la forma en que aprenden los humanos.
      </p>
      <p>
          Se aplica en diagnóstico médico, motores de búsqueda, reconocimiento del habla, detección de rostros,
          anti-spams, anti-virus, predicciones de clima, entre otros. A lo largo de esta página se pueden encontrar diversos
          proyectos relacionados a las técnicas de machine learning existentes. 
      </p>
    </div>
    
  </div>
</body>
  <footer class="w3-content w3-text-grey w3-xlarge">  
    <a target="_blank" href="https://www.linkedin.com/in/felipe-mestre-freire-55224816a/">
      <i class="fa fa-linkedin w3-hover-opacity"></i>
    </a>
  </footer>
</html>