<html>
<title>Portfolio.Articulos.Herramientas</title>
<meta charset="UTF-8">
<meta lang="es">
<meta name="viewport" content="width=device-width, initial-scale=1">
<body class="w3-black">
<div class="w3-padding-64 w3-content w3-text-grey" id="Herramientas">
    <h1 class="w3-text-light-grey">¿Qué es Machine Learning?</h1>
    <h2>Alteryx</h2> 
    <p>
        Self-Service Analytics, Data Science & Process Automation | Alteryx
        La herramienta proporciona analítica automatizada de todo tipo, ciencia de datos e 
        inteligencia artificial sin codificación.
        Su propósito puede ser mejorar las ventas, reducir la tasa de cancelación, automatizar el pago 
        de impuestos y las auditorías, optimizar tu cadena de suministro, pronosticar pagos de 
        seguros, mejorar el desempeño de tus empleados o implementar rápidamente a Alteryx con 
        Azure, AWS, Tableau, Salesforce u otras. Presenta herramientas de aprendizaje automático 
        guiado, NLP y minería de textos visual, o accede a herramientas integradas de R y Python.
    </p> <a href="https://www.alteryx.com/es-419"> Fuente</a>
    <h2>SAS</h2> 
    <p>
        Proporciona programación a demanda para acceder a los algoritmos de machine learning en la 
        nube, una experiencia para generar modelos, acceder a los resultados y obtener 
        conocimientos. Además, combina la preparación de datos, ingeniería, estadística moderna y 
        técnicas de machine learning en un ambiente de procesamiento en memoria para desarrollar, 
        testear y desplegar modelos.
    </p> 
    <a href="https://www.sas.com/en_za/software/machine-learning-cloud.html"> Fuente </a>

    <h2>IBM</h2>
    <p>
        Ofrece varios productos con opciones como ejecución en la nube pública y privada o en local y 
        plataformas cooperativas o locales para explorar, modelar y desplegar soluciones de datos. Sus 
        herramientas permiten usar algoritmos de aprendizaje supervisados, no supervisados, Deep 
        learning además de algoritmos de NLP planning y reasoning.

    </p>
    <a href="https://www.ibm.com/es-es/analytics/machine-learning">Fuente</a>

    <h2>Rapid Miner</h2>
    <p>
        Es una herramienta de análisis y minería de datos que permite desarrollar procesos de análisis 
        de datos usando distintos operadores en un entorno gráfico. Incluye 500 operadores para 
        hacer análisis, preprocesamiento y visualización de datos.
    </p>
    <a href="https://rapidminer.com/"> Fuente</a>

    <h2>Weka</h2>
    <p> 
        Da acceso a una colección de algoritmos, herramientas de visualización para modelado 
        predictivo y análisis de datos mediante una interfaz gráfica. Provee clasificación, 
        agrupamiento, preprocesamiento, regresión, selección de características y visualización de 
        datos. 
    </p>
    <a href="https://en.wikipedia.org/wiki/Weka_(machine_learning)"> Fuente</a>    
</div>
</body>

<footer class="w3-padding-64 w3-content">
    <button [routerLink]="['/Articulos/Herramientas/Comparacion']"> Comparacion de Herramientas </button>
</footer>
</html>