<html>
<title>Portfolio.PequenosProyectos</title>
<meta charset="UTF-8">
<meta lang="es">
<meta name="viewport" content="width=device-width, initial-scale=1">
<body class="w3-black">
<div class="w3-padding-64 w3-content w3-text-grey" id="PequenosProyectos">
    <h1 class="w3-text-light-grey">Pequeños Proyectos</h1>
    <p>
        En esta sección se encuentran actividades relacionadas a Machine Learning hechas con el propósito de explorar áreas específicas
        de la disciplina.
    </p>
    <div class="w3-padding-16 w3-content">
        <h2>Tratamineto Previo de Datos</h2>
        <button [routerLink]="['/PequenosProyectos/WineDataset']">Dataset Wine</button>
        <button [routerLink]="['/PequenosProyectos/TitanicDataset']">Dataset Titanic</button>
        <button [routerLink]="['/PequenosProyectos/SportsDatset']">Dataset Sports</button>
    </div>
</div>
</body>
</html>